<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>surviv.fun</title>

        <link rel="stylesheet" href="/public/css/styles.css" />
    </head>
    <body>
        <img src="/public/images/logo_roud.svg" alt="logo" class="logo" />

        <div style="margin-top: 50px">
            <h1>Hier entsteht eine neue Website</h1>
            <br /><br /><br /><br />
            <center>
                <a href="/discord" target="_blank">Discord</a>
            </center>
            <br />
            <center>
                <a href="/github" target="_blank">Github</a>
            </center>
            <br />
            <center><a href="/status" target="_blank">Status</a></center>

            <br />
            <center><a href="/mail" target="_blank">Email</a></center>
        </div>
    </body>
</html>
